In [1]:
import pandas as pd
import numpy as np

In [14]:
import os
from pathlib import Path

print("CWD:", os.getcwd())
print("Notebook dir:", Path.cwd())
print("Project root guess:", Path.cwd().parent)
print("Raw data exists?:", (Path.cwd().parent / "data" / "raw").exists())
print("Files in data/raw:", list((Path.cwd().parent / "data" / "raw").glob("*")))

CWD: /Users/hassankhan/PycharmProjects/credit-risk-prediction/notebooks
Notebook dir: /Users/hassankhan/PycharmProjects/credit-risk-prediction/notebooks
Project root guess: /Users/hassankhan/PycharmProjects/credit-risk-prediction
Raw data exists?: True
Files in data/raw: [PosixPath('/Users/hassankhan/PycharmProjects/credit-risk-prediction/data/raw/default-credit-card.xls')]

 Load the Excel file robustly

In [15]:
import pandas as pd
from pathlib import Path

RAW_DIR = Path.cwd().parent / "data" / "raw"

# pick the first .xls or .xlsx file in data/raw
excel_files = list(RAW_DIR.glob("*.xls")) + list(RAW_DIR.glob("*.xlsx"))
print("Excel files found:", excel_files)

path = excel_files[0]  # assumes you have one file there
df = pd.read_excel(path, header=1, engine="xlrd")  # .xls needs xlrd

df.head()

Excel files found: [PosixPath('/Users/hassankhan/PycharmProjects/credit-risk-prediction/data/raw/default-credit-card.xls')]

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [16]:
df = df.rename(columns={"default payment next month": "default"})
df.columns = [c.strip().lower().replace(" ", "_").replace(".", "_") for c in df.columns]
df.head()

,id,limit_bal,sex,education,marriage,age,pay_0,pay_2,pay_3,pay_4,...,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

Cleaning up dirty categories from the Data Set. Targeting Education and Marriage

In [17]:
df["education"] = df["education"].replace({0: 4, 5: 4, 6: 4})  # 4 = other
df["marriage"]  = df["marriage"].replace({0: 3})             # 3 = other

Saving a clean copy of the data

In [18]:
processed_path = Path.cwd().parent / "data" / "processed" / "credit_default_clean.csv"
processed_path.parent.mkdir(parents=True, exist_ok=True)
df.to_csv(processed_path, index=False)
print("Saved to:", processed_path)

Saved to: /Users/hassankhan/PycharmProjects/credit-risk-prediction/data/processed/credit_default_clean.csv